<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577116573557-kphqg2ii04qmmmt1gri880pvgr8sbc4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577116573557-kphqg2ii04qmmmt1gri880pvgr8sbc4s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577116573557-dqcih3javs3gb2fd81ik9mgsi7rhmkql.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBXSznggekqWlOeGqohb_djwviKJLXsG0</string>
	<key>GCM_SENDER_ID</key>
	<string>577116573557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bus.swd392</string>
	<key>PROJECT_ID</key>
	<string>login-gg-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>login-gg-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577116573557:ios:9e4cb48526f0b5a0a24d3c</string>
</dict>
</plist>